# Virtual environment
my_env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# System files
*.DS_Store

# Environment variables
.env
finetuning_models/my_sentiment_model
finetuning_models/my_sentiment_model_without_augmentation
finetuning_models/results_xlm_roberta
finetuning_models/logs
finetuning_models/my_sentiment_model_data_augmentation
finetuning_models/my_sentiment_model_data_augmentation_not_cleaned


